@use "../settings" as *;
@use "../tools" as *;

.alert {
    position: absolute;
    top: 200px;
    right: 0;
}

.basket-products-page {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 270px;
    margin-bottom: 250px;

    .order-list {
        text-align: left;
        width: 65%;

        .order-products-list {
            max-height: 700px;
            overflow-y: auto;
        }
    }

    .order-details {
        text-align: left;
        width: 30%;

        .order-details-title {
            margin-bottom: 30px;
        }

        .total {
            display: flex;
            justify-content: space-between;

            p {
                margin: 5px;
                padding-bottom: 5px;
            }
        }

        .checkout-button {
            width: 100%;
            margin-top: 50px;
        }
    }
}

.basket-products-empty {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 270px;
    margin-bottom: 250px;

    h2 {
        margin: 0px 60px;
        color: $c-basket-page-title;
        text-align: left;
    }

    .empty-basket-text {
        color: $c-basket-page-text;
        text-align: center;
        margin-top: 200px;
        font-size: 30px;
        font-weight: 400;
    }
}

.basket-products-page-title, .order-details-title  {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 35px;
    color: $c-basket-page-title;
}
