@use "../settings" as *;
@use "../tools" as *;

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}

.css-1lj39kh-MuiAccordionDetails-root {
    padding: 0 35px !important;
}

.css-7iurs7-MuiAccordionSummary-content.Mui-expanded {
    margin: 5px 0 !important;
}

.filters {
    width: 25%;
    margin-right: 50px;

    .filter-title {
        text-align: left;
        margin-left: 15px;
        font-size: 30px;
        font-weight: 400;
    }
}

.accordion-details {
    text-align: justify;
}

.accordion-button {
    text-transform: none !important;
    font-size: 15px !important;
    justify-content: flex-start !important;
    width: 100%;
    color: $c-accordion-button;

    &:hover {
        color: $c-accordion-button-hover;
    }
}
