@import '../../../../assets/scss/colors';

.product-card {
    max-width: 200px;
    margin: 35px 25px;
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(50, 50, 50, 0.119); 
    pointer-events: none; 
}

.product-img {
    max-width: 100%;
    height: 200px;
}

.product-card:hover .product-button {
    transform: translateY(0); 
    opacity: 1;
}

.product-name {
    color: $gentian-blue;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5px;
}

.product-price {
    color: $dark-blue-crayola;
    margin: 0;
}

.product-button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: $dark-blue-crayola;
    border: none;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(110%); 
    transition: transform 0.6s ease, bottom 0.6s ease; 
    cursor: pointer;
}