@use '../../../assets/scss/colors' as colors;

.products-block {
    margin-top: 70px;
}

.products-block-title {
    font-size: 50px;
    color: colors.$gentian-blue;
}

.products {
    display: flex;
    justify-content: space-between;
}