@import '../../../assets/scss/colors';

.products-block {
    margin-top: 70px;
}

.products-block-title {
    font-size: 50px;
    color: $gentian-blue;
}

.products {
    display: flex;
    justify-content: space-between;
}