@use '../../assets/scss/colors' as colors;

.basket-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: white;
    transform: translateX(90%);
    transition: transform 1s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.basket-sidebar.open {
    transform: translateX(0);
}

.basket-sidebar-title {
    display: flex;
    padding: 20px;
    background-color: colors.$dark-blue-crayola;
}

.sidebar-close-button {
    background-color: colors.$dark-blue-crayola;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-right: 60px;
}

.sidebar-title-text {
    color: white;
}

.basket-products-card {
    height: 65%;
    padding: 10px;
    overflow-y: auto;
}

.basket-products-card h3 {
    text-align: center;
    font-weight: 400;
}

.products-sum {
    padding: 10px;
    margin-bottom: 20px;
}

.products-sum h3, p {
    font-size: 23px;
    color: colors.$gentian-blue;
    margin: 5px;
}

.basket-page-open-button {
    margin: 15px;
    padding: 14px;
    width: 90%;
    color: white;
    border: 1px solid white;
    background-color: colors.$dark-blue-crayola;
    border-radius: 25px;
    cursor: pointer;
}

.basket-page-open-button:hover {
    background-color: #1e69cb9f;
    transition: 0.4s;
}