@use "../../settings" as *;
@use "../../tools" as *;

.promo-block {
    width: 100%;
    display: flex;
    overflow: hidden;

    .promo-card-drone {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 30%;
        background-color: $c-promo-card-bg;
        color: $c-promo-card-primary;
        padding: 10px 30px;

        .promo-card-title {
            font-size: 40px;
            text-align: left;
            line-height: 1;
        }
    }

    .promo-card-img {
        width: 70%;
        object-fit: cover;
    }
}

.promo-block-2 {
    width: 100%;
    max-height: 350px;
    display: flex;
    box-shadow: 0 2px 5px $c-box-shadow;

    .promo-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $c-promo-card-secondary;
        width: 50%;
        padding: 50px;
    }

    .promo-card-camera {
        background: url(/images/promo-img2.jpg) center / cover no-repeat;
    }

    .promo-card-accessory {
        background: url(/images/promo-img3.jpg) center / cover no-repeat;
    }

}

.card-title {
    width: 290px;
    font-size: 30px;
    text-align: left;
    padding: 10px 5px;
}

.promo-card-button {
    width: 140px;
    font-size: 20px;
    text-decoration: none;

    &:hover {
        color: $c-button-primary-hover;
        background-color: $c-button-primary-hover-bg;
    }
}
