@use '../../../assets/scss/colors' as colors;

.reviews-block {
    background-color: colors.$dark-blue-crayola;
    padding: 60px 40px;
}

.reviews-block-title {
    font-size: 50px;
    color: white;
    margin: 0;
    font-style: italic;
}

.reviews {
    display: flex;
    justify-content: space-between;
}