@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.contact-page {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
    margin-top: 230px;
}

.contact-page-title {
    width: 100%;
    background-color: $dark-blue-crayola;
}

.contact-page-title-text {
    @include title-styles
}

.contact-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color: #e0e0e0;
    position: relative;
}

.contact-page-form-title {
    font-style: italic;
    color: $dark-blue-crayola;
    font-size: 27px;
}

.contact-page-form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

form input, textarea {
    width: 100%;
    margin: 4px 2px;
    padding: 10px;
    color: $dark-blue-crayola;
    border: 2px solid $dark-blue-crayola;
    outline: none;
}

form input::placeholder, textarea::placeholder {
    color: $dark-blue-crayola;
}

.input-name, .input-email {
    width: 45%;
}

form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: $dark-blue-crayola;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: $gentian-blue;
    transition: 0.5s;
}

.contact-information-block {
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    object-fit: cover; 
    background-color: $dark-blue-crayola;
    display: flex;
    align-items: center;
    padding: 15px;
}

.contact-information-title {
    color: white;
    font-style: italic;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    margin-left: 60px;
}

.contact-information {
    width: 50%;
}

.contact-information-text {
    color: white;
    text-align: left;
    padding: 0;
    margin: 3px;
}