@use '../../assets/scss/colors' as colors;
@use '../../assets/scss/variables' as vars;

.faq-page {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 230px;
}

.faq-page-title {
    width: 100%;
    background-color: colors.$dark-blue-crayola;
}

.faq-page-title-text {
    @include vars.title-styles;
}

.faq-section {
    max-width: 900px;
    margin: 0 auto;

}
.faq-section-subtitle {
    color: #696969;
    margin: 50px auto;
    font-size: 20px;
    font-style: italic;
}

.accordion-question {
    color: colors.$dark-blue-crayola;
    font-size: 18px;
    font-style: italic;

}

.accordion-answer {
    color: colors.$gentian-blue;
}
