// colors
$c-dark-blue-crayola: #1E68CB;
$c-gentian-blue: #0A2344;
$c-dark-gray: rgba(50, 50, 50, 0.119);
$c-white: #fff;
$c-black: #000;
$c-gray: #ccc;
$c-spanish-gray: #989898;
$c-bright-blue: #1e69cb9e;
$c-midnight-blue: rgba(0, 0, 0, 0.2);
$c-silver-chalice: #bababa;
$c-gainsboro: #e0e0e0;
$c-onyx-gray: #3d3d3d;
$c-granite-gray: #5b5b5b;
$c-charcoal-gray: #494949;
$c-dim-gray: #565656;
$c-alice-blue: #F0F8FFFF;


$c-title: $c-white;
$c-text: $c-gentian-blue;
$c-card-border: $c-gray;
$c-link: $c-charcoal-gray;
$c-link-hover: $c-gentian-blue;

// Button colors
$c-button: $c-white;
$c-button-bg: $c-dark-blue-crayola;
$c-button-hover-bg: $c-bright-blue;

$c-button-primary-hover: $c-dark-blue-crayola;
$c-button-primary-hover-bg: $c-white;

// MainPage colors
$c-main-text: $c-dark-blue-crayola;
$c-reviews-block-bg: $c-dark-blue-crayola;
$c-card-img-bg: $c-dark-gray;
$c-product-info-article: $c-spanish-gray;
$c-product-info-price: $c-black;
$c-product-input-bg: $c-gray;
$c-box-shadow: $c-midnight-blue;
$c-promo-card-primary: $c-white;
$c-promo-card-secondary:  $c-dark-blue-crayola;
$c-promo-card-bg: $c-dark-blue-crayola;
$c-review-text: $c-white;
$c-review-author: $c-silver-chalice;

// AboutUs colors
$c-about-us-bg: $c-gainsboro;
$c-about-us-text: $c-onyx-gray;

// BasketPage colors
$c-basket-page-title: $c-dark-blue-crayola;
$c-basket-page-text: $c-granite-gray;

// BasketSidebar colors
$c-basket-sidebar-bg: $c-white;
$c-basket-sidebar-box-shadow: $c-midnight-blue;
$c-basket-sidebar-title: $c-dark-blue-crayola;
$c-basket-sidebar-text: $c-white;
$c-products-sum-text: $c-gentian-blue;

// Contact colors
$c-contact-page-form: $c-gainsboro;
$c-contact-page-text: $c-dark-blue-crayola;
$c-contact-info-block: $c-dark-blue-crayola;
$c-contact-info-text: $c-white;

// Delivery colors
$c-delivery-info-title: $c-dark-blue-crayola;
$c-delivery-info-text: $c-dim-gray;

// FAQ colors
$c-faq-section: $c-onyx-gray;
$c-accordion-text: $c-dark-blue-crayola;

// Filter colors
$c-accordion-button: $c-dark-blue-crayola;
$c-accordion-button-hover: $c-bright-blue;

// Footer colors
$c-footer-bg: $c-gainsboro;
$c-copyright-block-bg: $c-gentian-blue;
$c-copyright-block-text: $c-white;
$c-section-title: $c-dark-blue-crayola;

// Header colors
$c-header-bg: $c-white;
$c-logo: $c-dark-blue-crayola;
$c-logo-text: $c-white;
$c-basket: $c-white;
$c-nav-menu-bg: $c-gainsboro;

// InfoPage colors
$c-info-page-title-bg: $c-dark-blue-crayola;

// NavigationMenu colors
$c-nav-link: $c-gentian-blue;
$c-nav-link-hover-bg: $c-alice-blue;

// Products colors
$c-products-page-title: $c-dark-blue-crayola;

// StorePolicy colors
$c-store-policy-info: $c-dark-blue-crayola;
$c-store-policy-info-text: $c-dim-gray;
