@use '../../assets/scss/colors' as colors;

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.header-link {
    text-decoration: none;
}

.logo-name {
    color: colors.$dark-blue-crayola;
    margin: 0;
    text-align: left;
    font-style: italic;
    font-size: 40px;
}

.logo-text {
    color: white;
    background-color: colors.$dark-blue-crayola;
    margin-top: 0;
    padding: 4px;
    width: 240px;
    text-align: left;
    font-size: 20px;
}

.basket {
    background-color: white;
    border: none;
    cursor: pointer;
}

.basket-logo {
    color: colors.$dark-blue-crayola;
}

.navigation-menu {
    background-color: #e0e0e0;
}