@use '../../../../assets/scss/colors' as colors;

.product-info-page {
    max-width: 950px;
    margin: 70px auto;
    overflow: hidden;
    margin-top: 230px;
}

.product-info-section {
    display: flex;
}

.product-image-block {
    width: 50%;
}

.product-image {
    width: 350px;
}

.product-info-block {
    width: 50%;
    text-align: left;
}

.product-info-name {
    color:  colors.$dark-blue-crayola;
    font-style: italic;
    font-size: 35px;
    margin: 5px auto;
}

.product-info-article {
    margin: 0;
    color: #989898;
}

.product-info-price {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.product-info-desc {
    font-size: 18px;
}

.product-quant-input {
    width: 80px;
    padding: 5px;
    border: 1px solid #ccc; 
}

.product-add-button {
    width: 86%;
    padding: 12px;
    margin-top: 35px;
    color: white;
    border: 1px solid white;
    background-color: colors.$dark-blue-crayola;
    border-radius: 25px;
    font-size: 15px;
}

.product-add-button:hover {
    background-color: #1e69cb9e;
    transition: 0.5s;
    cursor: pointer;
}

.general-info-section {
    display: flex;
    margin-top: 120px;
}

.general-info-block {
    text-align: left;
    margin: 0px 10px;
}

.general-info-block-title {
    color:  colors.$dark-blue-crayola;
    font-size: 20px;
    text-transform: uppercase;
}

.general-info-block-desc {
    color:  colors.$gentian-blue;
    font-size: 20px;
}